html {
  background-color: white;
}

ul{
  display: inline-block;
}

.listone{
margin-left: 75px;

}

.listtwo{
  margin-left: 50px;
}

li{
  margin-bottom: 10px;
}


p{

  font-size: 10px;
  margin:0px;
}

h1 p{

text-align: center;
font-weight: bold;

}

h1{
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

div{
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}
/*
Reflect
What is important to know when linking an external file (like a stylesheet) to an HTML file?
What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
What CSS did you use to modify the element style (like size, color, etc.)
Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?
When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?

*/